<!DOCTYPE html>
<head>
    <style>
        body {
          background-color: coral;
        }
    </style>
</head>

    <body>
        <h1>Wine Quality Prediction</h1>
        <div class="login">
        
             <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict')}}"method="post">
                <input type="text" name="type " placeholder="type" required="required" />
                <input type="text" name="fixed acidity" placeholder="fixed acidity" required="required" />
                <input type="text" name="volatile acidity" placeholder="volatile acidity" required="required" />
                <input type="text" name="citric acid" placeholder="citric acid" required="required" />
                <input type="text" name="residual sugar" placeholder="residual sugar" required="required" />
                <input type="text" name="chlorides" placeholder="chlorides" required="required" />
                <input type="text" name="free sulfur dioxide" placeholder="free sulfur dioxide" required="required" />
                <input type="text" name="total sulfur dioxide" placeholder="total sulfur dioxide" required="required" />
                <input type="text" name="density" placeholder="density" required="required" />
                <input type="text" name="pH" placeholder="pH" required="required" />
                <input type="text" name="sulphates" placeholder="sulphates" required="required" />
                <input type="text" name="alcohol" placeholder="alcohol" required="required" />
        
                <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
            </form>
        
           <br>
           <br>
           {{ prediction_text }}
    </body>
</html>